[Desktop Entry]
Author=Ricardo Pereira
AuthorEmail=rpdesignerfly@gmail.com
Description=Flat and nice theme for the KMail header
FileName=header.html
Name=FlatNice
ThemeVersion=0.1
